#moreCard {
    background-color: rgb(40, 175, 75);
    color: white;
    font-family: fantasy;
    font-size: 17px;
    border-radius: 20px;
    padding: 30px;
    width: 90px;
}

#noCard {
    background-color: rgb(130, 10, 10);
    color: white;
    font-family: fantasy;
    font-size: 17px;
    border-radius: 20px;
    padding: 30px;
    width: 90px;
}

#reload {
    background-color: rgb(200, 190, 50);
    color: white;
    font-family: fantasy;
    font-size: 17px;
    border-radius: 20px;
    padding: 30px;
    width: 90px;
}

#player > img {
    height: 250px;
    width: 170px;
    border-radius: 25px;
    padding: 5px;
}

#computer > img {
    height: 250px;
    width: 170px;
    border-radius: 25px;
    padding: 5px;
}

#playerA {
    color: white;
    font-family: fantasy;
    font-size: 22px;
}

#computerA {
    color: white;
    font-family: fantasy;
    font-size: 22px;
}

#compare {
    color: white;
    font-family: fantasy;
    font-size: 22px;
}